{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Espaces Ouverts - Associations{% endblock %}</title>
</head>

<body class="bg-base-100">
    <div id="header">
        {% block header %}{% endblock %}
    </div>

    <div id="content" class="max-w-6xl mx-auto px-4 py-8">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        <footer class="bg-gray-100 py-4 text-center text-sm text-gray-600">
            <p class="pb-8">💌 Écrivez-nous : mathilde.boulet@arbitryum.fr</p>
            &copy; 2026 Espaces Ouverts. Tous droits réservés.
        </footer>
        {% endblock %}
    </div>
</body>
</html>
